{% extends 'base.html' %}

{% block title %}
{{ txt_title }}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{%  load crispy_forms_tags %}

{% block main %}
<p> {{ txt_descricao }}</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row justify-content-center"j>
        <div class="col-9 col-sm-12 col-md-6">
            {{ form.data_hora_entrada | as_crispy_field }}
            {{ form.id_veiculo | as_crispy_field }}
            {{ form.id_tabela | as_crispy_field }}
        </div>

        <div class="col-9 col-sm-12 col-md-6">
            {{ form.data_hora_saida | as_crispy_field }}
            {{ form.total | as_crispy_field }}
            {{ form.pago | as_crispy_field }}
            {{ form.observacoes | as_crispy_field }}
        </div>
    </div>
    <div align="center">
        <button class="btn btn-success" type="submit">{{ txt_button }}</button>
        <button class="btn btn-danger" onclick="window.location.href='/'">Cancelar</button>
    </div>

</form>

{% endblock %}