{% extends 'base.html'%}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block main %}

<!--<p><img src="{% static 'fundo.png' %}" style="width: 210vh" alt="Logo"></p>-->
   <div class="context">
        <h1>TAcar - Estacionamento</h1>
   </div>

<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >

{% endblock %}
