{% extends 'base.html' %}
{% load static %}
{% block title %}
Listagem de Fabricante
{% endblock %}

{% block main %}
<h3>Listagem de Fabricantes</h3><br>
{% for i in dados %}
Nome: {{ i.nome }}<br>
Url: {{ i.url }}<br>
Logo: {{ i.logo }}<br>

<a href="{% url 'url_atualiza_fabricante' i.id %}">Editar</a>
<a href="{% url 'url_exclui_fabricante' i.id %}">Excluir</a>
<br>
-----------------------------------------------------------<br>
{% endfor %}
<button onclick="window.location.href='/'">home</button>
{% endblock %}