{% extends 'base.html' %}
{% load static %}
{% block title %}
Listagem de Clientes
{% endblock %}
{% block main %}
{% if messages %}
{% for mensagem in messages %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ mensagem }}
</div>
{% endfor %}
{% endif %}
<div class="container-fluid">
    <div class="row">
        <ul class="card list-group">
            {% for i in dados %}
            <li class="card list-group-item-action" style="width:400px">
                <div class="card-body">
                    Nome: {{ i.nome }}<br>
                    Endereco: {% if i.endereco %} {{ i.endereco }} {% endif %}<br>
                    Complemento: {% if i.complemento %} {{ i.complemento }} {% endif %}<br>
                    Bairro: {% if i.bairro %} {{ i.bairro }} {% endif %}<br>
                    Cidade: {% if i.cidade %} {{ i.cidade }} {% endif %}<br>
                    E-mail: {{ i.email }}<br>
                    Telefone: {% if i.fone %} {{ i.fone }} {% endif %}<br>

                    {% if i.foto %}
                    <img src="{{ i.foto.url }}" width="200"><br>
                    {% else %}
                    <img src="{% static 'perfil_generico.png'%}" width="200"><br>
                    {% endif %}

                    <a href="{% url 'url_atualiza_cliente' i.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'url_exclui_cliente' i.id %}" class="btn btn-danger">Excluir</a>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
</div>
{% endblock %}